.Logo {
  display: flex;
  justify-content: center; 
  align-items: center;   
  height: 100px;           
}

.Logo {
  max-width: 100%;         
  height: auto;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
}

/* card */

.container {
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;

}

.card__container {
  margin: 50px;
  display: flex;
  row-gap: 3.5rem;
}

.card__article {
  margin: 0 25px;
  position: relative;
  /* overflow: hidden; */
}

.card__img {
  width: 250px;
  border-radius: 1.5rem;
}

.card__data {
  max-width: 150px;
  background-color: white;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -2rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  /* opacity: 0; */
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: small;
  margin-bottom: .25rem;
}

.card__title {
  font-size: 22px;
  font-weight: 900;
  color: rgb(28, 28, 28);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.card__button:hover {
  color: white;
  background-color: #3c2473;
}

footer {



  text-align: center; 
  width: 100%; }

  footer {

color: rgb(0, 0, 0);

  }

  .links {
  color: #000000;

}

  .links {
  text-decoration: none; 
}


.staff {

text-align: center; 
  width: 100%; }


  .teacher-list {

  text-align: center; 
  width: 100%; }

  ul {
  list-style-type: none;
}


.teach-link {
  text-decoration: none;       

}


.teach-link a {
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 6px;
}

.teach-link a:hover {
  background-color: #000000;
  color: #fff;
}